@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --dark-main-bg-color: #2A2728;
    --dark-secondary-bg-color: #201D1E;
    --dark-font-color: #C0B7B1;
    --dark-primary-highlight: #C69C72;
    --dark-secondary-highlight: #8E6E53;
    --dark-terciary-highlight: #7A7265;
}

* {
    margin: 0;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-main-bg-color);
    color: var(--dark-font-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

header {
    background-color: var(--dark-secondary-bg-color);
    padding: 1rem 0;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.logo img {
    width: 80px;
    filter: brightness(0) invert(1); /* Torna a imagem branca */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: var(--dark-primary-highlight);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--dark-main-bg-color);
    color: var(--dark-font-color);
    border-radius: 5px;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--dark-secondary-highlight);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--dark-main-bg-color);
        border-radius: 10px;
        margin-right: 10px;
        transition: all 0.5s ease;  
    }

    .nav-links.nav-active {
        display: block;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }

    .burger {
        display: flex;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}
main {
    text-align: center;
    flex: 1;
}

.intro {
    position: relative;
    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; /* Certifique-se de que o texto seja legível */
}

.intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/background.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(1.25px); /* Aplica desfoque e converte para preto e branco */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.intro h1 {
    color: var(--dark-primary-highlight);
    font-size: 2.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}

.intro p {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.2rem;
    border-radius: 10px;
}

.intro h1, .intro p {
    background-color: rgba(32, 29 , 30, 0.85);
    padding: 15px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features h2 {
    width: 100%;
    text-align: center;
    color: var(--dark-secondary-highlight);
    font-size: 2.5rem;
}

.features ul {
    list-style: none;
    padding: 50px;
    padding-bottom: 0px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features ul li {
    width: 30%; /* Ajuste a largura conforme necessário */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.features ul li h3 {
    margin-top: 0;
}

.features ul li p {
    margin: 10px 0 0;
    text-align: justify;
}

/* Estilos para o Swiper.js */
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide-active {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.swiper-pagination span{
    background-color: var(--dark-secondary-highlight);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--dark-secondary-highlight);
}

/* Esconde a versão desktop no mobile e vice-versa */
.features-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.features-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .features-desktop {
        display: none;
    }

    .features-mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .features ul li {
        width: 48%; /* Ajuste a largura para 48% em telas menores para duas colunas */
    }
}

@media screen and (max-width: 480px) {
    .features ul li {
        width: 100%; /* Ajuste a largura para 100% em telas muito pequenas para uma coluna */
    }
}

.contact {
    text-align: center;
    padding: 0px 50px 50px 50px;
    background-color: var(--dark-main-bg-color);
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--dark-terciary-highlight);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-container-mobile {
    display: none;
}

.contact-container-mobile .contact-box {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
    .contact-container {
        display: none;
    }

    .contact {
        padding: 0;
    }

    .contact-container-mobile {
        display: block;
    }

    .contact-container-mobile .swiper-slide {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .swiper-slide {
        padding-bottom: 10px;
    }
}

.contact-box {
    background-color: var(--dark-secondary-bg-color);
    border: 1px solid var(--dark-terciary-highlight);
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    text-align: center;
}

.contact-box:hover {
    transform: translateY(-10px);
}

.contact-box h3 {
    color: var(--dark-terciary-highlight);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-box p {
    font-size: 1em;
    color: var(--dark-font-color);
}

.contact-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.contact-box form input,
.contact-box form textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid var(--dark-terciary-highlight);
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.3s ease;
    background-color: var(--dark-main-bg-color);
    color: var(--dark-font-color);
}

.contact-box form button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-main-bg-color);
    color: var(--dark-font-color);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 0 auto;
}

.contact-box form input:hover,
.contact-box form textarea:hover {
    width: 90%;
}

.contact-box form button:hover {
    background-color: var(--dark-secondary-highlight);
    color: var(--dark-font-color);
    width: 90%;
    color: white;
}

.close {
    color: var(--dark-font-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--dark-secondary-highlight);
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o botão de carregamento */
.submit-btn.loading {
    cursor: not-allowed;
    background-color: var(--dark-primary-highlight);
    color: white;
}

.submit-btn.loading::after {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid var(--dark-secondary-bg-color);
    border-top: 2px solid var(--dark-font-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media screen and (max-width: 768px) {
    .contact-box {
        width: 100%;
    }
}

footer {
    background-color: var(--dark-secondary-bg-color);
    color: var(--dark-font-color);
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .logo img {
        width: 50px;
    }
}

@media (max-width: 480px) {
    .intro h1 {
        font-size: 1.6rem;
        padding: 8px;
    }
    
    .intro p {
        font-size: .75rem;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 600;
    }

    nav ul li a {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .logo img {
        width: 50px;
    }
}

.profile-picture {
    width: 250px; /* Tamanho padrão */
    height: 250px; /* Tamanho padrão */
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

/* Ajuste para telas menores */
@media screen and (max-width: 768px) {
    .profile-picture {
        width: 200px; /* Ajuste o tamanho conforme necessário */
        height: 200px; /* Ajuste o tamanho conforme necessário */
    }
}

@media screen and (max-width: 480px) {
    .profile-picture {
        width: 150px; /* Ajuste o tamanho conforme necessário */
        height: 150px; /* Ajuste o tamanho conforme necessário */
    }
}

/* Ajuste para telas entre 375px e 425px */
@media screen and (min-width: 375px) and (max-width: 425px) {
    .profile-picture {
        width: 200px; /* Ajuste o tamanho conforme necessário */
        height: 200px; /* Ajuste o tamanho conforme necessário */
    }
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--dark-terciary-highlight);
    margin: 15px auto;
}

a {
    color: var(--dark-primary-highlight);
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajuste a posição vertical do sublinhado */
    width: 0;
    height: 1.5px; /* Altura do sublinhado */
    background-color: var(--dark-primary-highlight);
    transition: width 0.5s ease; /* Transição suave para o sublinhado */
}

a:hover::after {
    width: 100%; /* Expande o sublinhado para a largura total do link */
}

.features-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 50px 0px 50px;
}

.text-content {
    flex: 1;
    margin-top: 20px;
    box-sizing: border-box;
}

.text-content p {
    margin-bottom: 20px; /* Adiciona margem inferior entre os parágrafos */
    text-align: justify; /* Justifica o texto */
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
}

/* Ajuste para telas menores */
@media screen and (max-width: 768px) {
    .features-desktop {
        flex-direction: column;
    }

    .text-content,
    .image-content {
        flex: none;
        width: 100%;
    }
}

.image-content img {
    width: 300px; /* Tamanho inicial pequeno */
    height: 300px; /* Tamanho inicial pequeno */
    object-fit: cover; /* Corta o conteúdo para caber no contêiner */
    cursor: pointer; /* Indica que a imagem é clicável */
    padding: 10px;
    border-radius: 20px; /* Adiciona bordas arredondadas à imagem */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.image-content img:hover {
    transform: scale(1.1); /* Aumenta ligeiramente a imagem ao passar o mouse */
}

/* Estilos para o Swiper.js */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.swiper-pagination-bullet {
    background: #333;
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
}

/* Estilos para o modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com opacidade */
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    width: 90%;
    max-width: 800px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
}

.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para a seção de contato */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-box {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.contact-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-box ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box ul li i {
    margin-right: 10px;
    color: #333;
}

.contact-box ul hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

/* Ajuste para telas menores */
@media screen and (max-width: 768px) {
    .contact-container {
        display: none; /* Oculta a versão desktop da seção de contato */
    }

    .image-content-mobile,
    .contact-container-mobile {
        display: block; /* Exibe a versão móvel do Swiper */
    }
}